
/***General***/
h1{
    color: #dcb2ce !important;
}

body {
  min-height: 100vh !important;
}

/******NavBar******/
.navegador{
    background-color: #7b4ea1;
    opacity: 0.95;
}

.buscador{
    border: solid #dcb2ce 2px;
    padding: 0 !important;
}

.busqueda{
    background-color: #725dc2 !important;
    border: none !important;
    color: #dcb2ce !important;
    border-right: solid #dcb2ce 2px !important;
}

.busqueda::placeholder{
    color: #dcb2ce !important;
}

.buscar{
    color: #dcb2ce !important;
    background-color: #725dc2 !important;
}

.offcanvas-header{
    background-color: #7b4ea1;
}

.offcanvas-body{
    background-color: #7b4ea1;
}

.desplegable{
    background-color: #725dc2 !important;
    overflow: hidden;
}

.dropdown-item{
    border-left: solid #dcb2ce 1px !important;
    width: auto;
}


.login{
    color: #dcb2ce !important;
    background-color: #725dc2 !important;
    border: solid #dcb2ce 2px !important;
}


/****Footer****/
footer{
    background-color: #7b4ea1;
    margin-top: auto !important;
  }
  
  .footer-principal{
    background-color: #7b4ea1;
    color: #dcb2ce !important;
  }
  
  .footer-principal p {
    color: #dcb2ce !important;
  }
  
  .footer-secundario{
    background-color: #725dc2;
    color: #dcb2ce !important;
  }

  .footer-centro{
    border-color: #dcb2ce !important; 
  }

/*** Cards de ofertas ***/
.body {
    background-color: #55379c;
  }
  
  .color{
    color: green ;
  }
  
  .color1{
  color: red;
  }
  
  .color2{
  color: blue;
  }
  
  .color3{
    color: rgb(255, 0, 234);
  }
  .color4{
  color: #fbff01;
  }
  
  .rainbow-border {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  }
  
  .rainbow-border::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate 10s linear infinite;
  border-radius: 5px;
  z-index: -1;
  }
  
  .card {
  position: relative;
  z-index: 1;
  }
  
  @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}

  /**** Carousel ****/

.imagenCarousel{
    width: 100%;
} 

/* Slider */

.imagen-slider{
  width: 350px;
  height: 200px;
}

.slider{
    height: auto;
    margin: auto;
    overflow: hidden;
    
}

.slider .slide-track{
    display: flex;
    animation: scroll 0s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
    margin: 50px;

}

.slider .slide img{
    width: 100%;
}

@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

/****Sobre Nosotros****/

.colorfondo{
  background-color: #6c5ce7 !important; 
  }

.fach{
  background-color: rgba(120, 119, 123, 0.3) !important;
  font-weight: bold !important;
  border-radius: 0.5em !important;
  box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85) !important;

}

.fotoCircle{
  width: 200px !important;
  height: 200px !important;
  overflow: hidden !important;
  border-radius: 400px !important;
}


.textjust{
  text-align: justify !important;
  line-height: 2em !important;
}

.cambiocolor:hover{
  background: rgba(11,103,123,0.6) !important;
  transition: all 500ms ease-out !important;
}

.social-about{
  width: 200px !important;
}

/****Error 404*****/

.BodyChange{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100vh !important;
  background-image: linear-gradient(125deg, #6c5ce7, #a29bfe) !important;
}

.cajaContenedora{
  width: 100% !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center !important;
  color: #343434 !important;
}

.fondoImg{
  margin-top: 10px !important;
  font-size: 250px !important;
  padding: 0 !important;
  font-weight:bolder;
  letter-spacing: 10px !important;
  background: url(https://i.ibb.co/23968yN/banner404.jpg) center no-repeat !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  }

.cajaContenedora a{
  text-decoration: none !important;
  background: #e55039aa !important;
  color: #fff !important;
  padding: 12px 24px !important;
  border-radius: 20px !important;
  display: inline-block !important;
}

/****Pagina Administracion****/

.container-xxl {
  font-family: "Courier New", monospace;
}

.body-adm{
  background-image: url(https://fondosmil.com/fondo/28064.jpg);
}

#Adm {
  padding: 20px;
  min-height: 100vh;
}

.agregar {
  background-color: rgba(176, 166, 224, 0.5);
  border: 2px solid rgb(128, 116, 191);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.agregar-header {
  background-color: rgb(128, 116, 191);
  color: rgb(235, 232, 251);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#product-form {
  margin-top: 20px;
  
}

.form-control {
  background-color: rgb(235, 232, 251);
  border: 1px solid rgb(128, 116, 191);
  border-radius: 5px;
  padding: 10px;
  color: rgb(44, 34, 91);
}

.btn-agregar {
  background-color: rgb(128, 116, 191);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(235, 232, 251);
  cursor: pointer;
}

.btn-agregar:hover {
  background-color: rgb(84, 73, 135);
}

#lista-productos {
  background-color: rgba(176, 166, 224, 0.5);
  padding: 20px;
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  padding: 10px;
  text-align: left;
  color: white;
}

/* Para resaltar los campos requeridos */
input:required,
textarea:required {
  border: 2px solid rgb(128, 116, 191);
}

input:required:focus,
textarea:required:focus {
  outline: none;
  border: 2px solid rgb(84, 73, 135);
}


.titulo-blanco-llamativo {
  color: white;
  background-color: rgb(84, 73, 135) !important ; /* Puedes ajustar el color de fondo a tu gusto */
}


/* ESTILOS DE MODAL */

.modal-title-container {
  display: flex !important;
  align-items: center !important;
}

.modal-title img {
  width: 40px !important;
  height: 40px !important;
  margin-right: 10px !important;
}

.modal-header .logo-container {
  display: flex !important;
  align-items: center !important;
}

.modal-header .logo-container img {
  width: 80px !important;
  height: 40px !important;
  margin-right: 50px !important;
}

.modal-content {
  background-color: #8a55dd !important;
  color: #fff !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-title {
  color: #fff !important;
}

.modal-body {
  background-color: #a77be7 !important;
}

.form-container {
  padding: 20px !important;
}

.form-group label {
  color: #fff !important;
}

.btn-modal {
  background-color: #6f42c1 !important;
  border-color: #6f42c1 !important;
}

.btn-modal:hover {
  background-color: #58379a !important;
  border-color: #58379a !important;
}

.close {
  color: #fff !important;
}

/* ESTILO DE ICONOS */

.social-icons {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: #fff;
  font-size: 24px;
}

