
/***General***/
h1{
    color: #dcb2ce !important;
}

/******NavBar******/
.navegador{
    background-color: #7b4ea1;
    opacity: 0.95;
}

.buscador{
    border: solid #dcb2ce 2px;
    padding: 0 !important;
}

.busqueda{
    background-color: #725dc2 !important;
    border: none !important;
    color: #dcb2ce !important;
    border-right: solid #dcb2ce 2px !important;
}

.busqueda::placeholder{
    color: #dcb2ce !important;
}

.buscar{
    color: #dcb2ce !important;
    background-color: #725dc2 !important;
}

.offcanvas-header{
    background-color: #7b4ea1;
}

.offcanvas-body{
    background-color: #7b4ea1;
}

.desplegable{
    background-color: #725dc2 !important;
    overflow: hidden;
}

.dropdown-item{
    border-left: solid #dcb2ce 1px !important;
    width: auto;
}


.login{
    color: #dcb2ce !important;
    background-color: #725dc2 !important;
    border: solid #dcb2ce 2px !important;
}


/****Footer****/
footer{
    background-color: #7b4ea1;
    margin-top: auto !important;
  }
  
  .footer-principal{
    background-color: #7b4ea1;
    color: #dcb2ce !important;
  }
  
  .footer-principal p {
    color: #dcb2ce !important;
  }
  
  .footer-secundario{
    background-color: #725dc2;
    color: #dcb2ce !important;
  }

  .footer-centro{
    border-color: #dcb2ce !important; 
  }

/*** Cards de ofertas ***/
.body {
    background-color: #55379c;
  }
  
  .color{
    color: green ;
  }
  
  .color1{
  color: red;
  }
  
  .color2{
  color: blue;
  }
  
  .color3{
    color: rgb(255, 0, 234);
  }
  .color4{
  color: #fbff01;
  }
  
  .rainbow-border {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  }
  
  .rainbow-border::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate 10s linear infinite;
  border-radius: 5px;
  z-index: -1;
  }
  
  .card {
  position: relative;
  z-index: 1;
  }
  
  @keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }}

  /**** Carousel ****/

.imagenCarousel{
    width: 100%;
} 

/* Slider */

.imagen-slider{
  width: 350px;
  height: 200px;
}

.slider{
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    
}

.slider .slide-track{
    display: flex;
    animation: scroll 0s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
    margin: 50px;

}

.slider .slide img{
    width: 100%;
}

@keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 5));
        transform: translateX(calc(-200px * 5));
    }
}

/****Sobre Nosotros****/

.colorfondo{
  background-color: #6c5ce7 !important; 
  }

.fach{
  background-color: rgba(120, 119, 123, 0.3) !important;
  font-weight: bold !important;
  border-radius: 0.5em !important;
  box-shadow: inset 1px 1px 22px 4px rgba(0,0,0,0.85) !important;

}

.colorfondo i{
  font-size: 25px !important;
  }

.fotoCircle{
  overflow: hidden !important;
  border-radius: 1000px !important;
}

h1{
  font-size: 40px !important;
}

.textjust{
  text-align: justify !important;
  line-height: 2em !important;
}

/****Error 404*****/

.BodyChange{
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100vh !important;
  background-image: linear-gradient(125deg, #6c5ce7, #a29bfe) !important;
}

.cajaContenedora{
  width: 100% !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  text-align: center !important;
  color: #343434 !important;
}

.fondoImg{
  margin-top: 10px !important;
  font-size: 250px !important;
  padding: 0 !important;
  font-weight:bolder;
  letter-spacing: 10px !important;
  background: url(https://i.ibb.co/23968yN/banner404.jpg) center no-repeat !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  }

.cajaContenedora a{
  text-decoration: none !important;
  background: #e55039aa !important;
  color: #fff !important;
  padding: 12px 24px !important;
  border-radius: 20px !important;
  display: inline-block !important;
}

/****Pagina Administracion****/

.container-xxl {
  font-family: "Courier New", monospace;
}

#Adm {
  padding: 20px;
  background-image: url(https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1920&s=35030b396d08e9b102b5ac3771b0ae22%201920w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1620&s=29ce59caac33467547cc3d962ddbf862%201620w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1320&s=24e5ab07cdcf93f70168f0d562a58c7c%201320w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1020&s=acc4f1bc845f1345c3e276d46aa30ae5%201020w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=960&s=cbb3b5a728dc10f74928da0bc85946c2%20960w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=660&s=43dcd04eca52de1ed4b5a5dc579dca91%20660w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=540&s=5435bea2f01bdcccf3427b2972347f26%20540w);
  
}

.agregar {
  background-color: rgba(176, 166, 224, 0.5);
  border: 2px solid rgb(128, 116, 191);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.agregar-header {
  background-color: rgb(128, 116, 191);
  color: rgb(235, 232, 251);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#product-form {
  margin-top: 20px;
  
}

.form-control {
  background-color: rgb(235, 232, 251);
  border: 1px solid rgb(128, 116, 191);
  border-radius: 5px;
  padding: 10px;
  color: rgb(44, 34, 91);
}

.btn-primary {
  background-color: rgb(128, 116, 191);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(235, 232, 251);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(84, 73, 135);
}

#lista-productos {
  background-color: rgba(176, 166, 224, 0.5);
  padding: 20px;
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  padding: 10px;
  text-align: left;
  color: white;
}

.w-25 {
  width: 25%;
}

/* Para resaltar los campos requeridos */
input:required,
textarea:required {
  border: 2px solid rgb(128, 116, 191);
}

input:required:focus,
textarea:required:focus {
  outline: none;
  border: 2px solid rgb(84, 73, 135);
}


.titulo-blanco-llamativo {
  color: white;
  background-color: rgb(84, 73, 135) !important ; /* Puedes ajustar el color de fondo a tu gusto */
}