.body {
    background-color: #55379c;
}

.color{
    color: green ;
}

.color1{
  color: red;
}

.color2{
  color: blue;
}

.rainbow-border {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.rainbow-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#00ccff, #d500f9);
  animation: rotate 4s linear infinite;
  border-radius: 5px;
  z-index: -1;
}

.card {
  position: relative;
  z-index: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}