.btn-product{
  background-color: #E73700;
  color: white;
}

.banner-category{
  height: 40hv;
  background-image:  url(../src/1.jpg), linear-gradient(rgb(163, 135, 135), rgb(175, 194, 8));
  background-size: cover;
  background-position: 69%;
}

.banner-category-sofa{
  height: 40hv;
  background-image:  url(../src/sofa-banner.jpeg), linear-gradient(rgb(163, 135, 135), rgb(175, 194, 8));
  background-size: cover;
  background-position: 69%;
}

.price-product{
  color: #E73700;
  font-weight: 600;
}

.title-product{
  font-weight: bold;
}

.row-comentarios{
  border: 1px solid rgb(124, 124, 124);
}

.people-container{
  position: relative;
  display: flex;
  align-items: end;
  flex-direction: row;
}

.people-review-image{
  height: 70px;
  width: 71px;
  border-radius: 50%;
}

.people-review-name{
  vertical-align: middle;
  align-self: center;
}

.p-review{
  line-height: 2;
}


.bi-star-fill{
  color: #fbd600;
  
}

.paginationContainer{
  display: flex;
  justify-content: center;
  
}

.paginationContainer a{
  color: #E73700;
}

.boton-color:hover{background: color;}

@media screen and (max-width: 600px) {
  iframe {
      width: 90vw; 
}
}



.review-item {
  border: 5px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.people-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.people-review-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.people-review-name h5 {
  margin: 0;
}

.p-review {
  margin-bottom: 0;
}


.sangria {
  margin-left: 10px;
}