



.container-xxl {
  background-color: rgb(235, 232, 251);
  font-family: "Courier New", monospace;
}

#Adm {
  background-color: rgb(217, 212, 241);
  padding: 20px;
  background-image: url(https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1920&s=35030b396d08e9b102b5ac3771b0ae22%201920w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1620&s=29ce59caac33467547cc3d962ddbf862%201620w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1320&s=24e5ab07cdcf93f70168f0d562a58c7c%201320w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=1020&s=acc4f1bc845f1345c3e276d46aa30ae5%201020w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=960&s=cbb3b5a728dc10f74928da0bc85946c2%20960w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=660&s=43dcd04eca52de1ed4b5a5dc579dca91%20660w,%20https://maxonassets.imgix.net/images/hexagonal-background.jpg?auto=compress%2Cformat&fit=clip&q=80&w=540&s=5435bea2f01bdcccf3427b2972347f26%20540w);
}

.agregar {
  background-color: rgba(176, 166, 224, 0.5);
  border: 2px solid rgb(128, 116, 191);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.agregar-header {
  background-color: rgb(128, 116, 191);
  color: rgb(235, 232, 251);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#product-form {
  margin-top: 20px;
  
}

.form-control {
  background-color: rgb(235, 232, 251);
  border: 1px solid rgb(128, 116, 191);
  border-radius: 5px;
  padding: 10px;
  color: rgb(44, 34, 91);
}

.btn-primary {
  background-color: rgb(128, 116, 191);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: rgb(235, 232, 251);
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(84, 73, 135);
}

#lista-productos {
  background-color: rgba(176, 166, 224, 0.5);
  padding: 20px;
  color: white;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  color: white;
}

.w-25 {
  width: 25%;
}

/* Para resaltar los campos requeridos */
input:required,
textarea:required {
  border: 2px solid rgb(128, 116, 191);
}

input:required:focus,
textarea:required:focus {
  outline: none;
  border: 2px solid rgb(84, 73, 135);
}


.titulo-blanco-llamativo {
  color: white;
  background-color: #FF0000; /* Puedes ajustar el color de fondo a tu gusto */
}
